@using DigAccess.Models.UserAdministrator
@model HomePageViewModel
@{
    ViewData["Title"] = "Начало";
}
<div class="d-flex p-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Потребители</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Име</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blindUser in Model.BlindUsers)
                    {
                        <tr>
                            <td>@blindUser.FirstName</td>
                            <td>@blindUser.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a asp-action="ViewAllUsers" class="btn btn-dark"><h7>Всички</h7></a>

    </div>
</div>