@{
    ViewData["Title"] = "Начална страница";
}
<div class="">
    <div class="content">

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <video src="~/videos/blindwalking.mp4" autoplay loop></video>

                    <div class="custom-caption">
                        <h6>ДИГИТАЛНА ДОСТЪПНОСТ</h6>
                        <h1 class="text-white">Слушай, откривай, изследвай</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
