<div class="bg-black">
    @{
        ViewData["Title"] = "Начална страница";
    }
    <div class="content">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <video src="~/videos/blindwalking.mp4" autoplay loop muted></video>
                    <div class="custom-caption">
                        <h1 class="text-white">Слушай, откривай, изследвай</h1>
                        <br />
                    </div>
                    <div class="custom-caption3" style="width: 50rem">
                        <p>
                            Разкрийте новото измерение в достъпността за незрящи с „Дигитална достъпност“.
                            Този иновативен софтуер предоставя ефективен и интуитивен контрол, превръщайки компютъра
                            от поредното главоболие в истинска радост. Осигурете си улеснено, приятно и достъпно
                            изживяване в света на технологиите!

                        </p>
                    </div>
                    <div class="custom-caption2 bg-transparent">
                            <div class="d-flex transparent-flex">
                                <h5 class="p-2">ДИГИТАЛНА ДОСТЪПНОСТ</h5>
                        </div>
                    </div>
                    <div class="custom-caption1 bg-transparent">
                        <div class="d-flex transparent-flex">
                            <a class="p-2 text-white" asp-area="Identity" asp-page="/Account/Register">
                                <h6>Регистрация</h6>
                            </a>
                            &nbsp
                            <a class="p-2 text-white" asp-area="Identity" asp-page="/Account/Login">
                                <h6>Вход</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />
    <div class="container-fluid text-start">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <div class="card border-light mb-3 bg-black text-white" style="max-width: 20rem;">
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Без опит в компютъра? Няма проблем</h5>
                            <br />
                            <p class="card-text">
                                Отворете вратата на компютърния свят с "Дигитална Достъпност"!
                                Създадена специално за хора без опит в компютрите,
                                софтуерът превръща ученето в забавление.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card border-light mb-3 bg-black text-white" style="max-width: 20rem;">
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Нов метод за управление</h5>
                            <br />
                            <p class="card-text">
                                Управлението на "Дигитална достъпност" е базирано на метода на телефонния оператор.
                                За управлението на цялата система се използват единствето числата от 0 до 9 и бутона "Enter".
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card border-light mb-3 bg-black text-white" style="max-width: 20rem;">
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Гласово въвеждане</h5>
                            <br />
                            <p class="card-text">
                                Освободете се от клавиатурата с иновативната технология за гласово въвеждане!
                                Говорете с висока скорост и се наслаждавайте на максимална прецизност в разпознаването.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card border-light mb-3 bg-black text-white" style="max-width: 20rem;">
                        <br />
                        <div class="card-body">
                            <h5 class="card-title">Едно цялостно решение</h5>
                            <br />
                            <p class="card-text">
                                Всичко, което е необходимо за начинаещия незрящ потребител е включено - от редактиране на текстове до
                                възможности за онлайн търсене, посредством изкуствен интелект.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
