@using DigAccess.Models.Licence
@model LicenceKeyViewModel

<h1>Ключ: @Model.Key</h1>
<h3>Валиден от: @Model.DateFrom</h3>

<a asp-action="UserLicence" asp-route-id="@Model.BlindUserId" class="btn btn-dark"><h5>ОК</h5></a>
