@using DigAccess.Models.UserAdministrator.License
@model LicenseKeyViewModel
<h1>Преглед на лиценз</h1>
<br/>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ключ</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Моля, копирайте ключа!</h6>
        <p class="card-text">
            <h3><center><b>@Model.Key</b></center></h3>
        <p><center>Валиден от: @Model.DateFrom</center></p>
  </div>
</div>
<br/>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Указания за активация</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Активиране на потребителя в "Дигитална достъпност"</h6>
        <p class="card-text">
            Отворете приложението "Дигитална достъпност". Натиснете бутона "Стартиране на активация" и въведете лицензионния и
            административния ключ. Ако въведените ключове са правилни, ще се покаже опцията за избор на гласов синтезатор.
        </p>
    </div>
</div>
<div class="align-self-end">
    <a asp-action="UserLicense" asp-route-id="@Model.BlindUserId" class="btn btn-dark"><h5>ОК</h5></a>
</div>
