@using DigAccess.Models.UserAdministrator.License
@model UserLicenseViewModel
@{
    ViewData["Title"] = "Лицензи";
}
@if (Model.Licenses.Count == 0)
{
    <h4>Няма лицензи за потребителя!</h4>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата от</th>
            <th>Статут</th>
            <th>Опции</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var licence in Model.Licenses)
        {
            <tr>
                <td>@licence.DateFrom</td>
                <td>@licence.IsActivated</td>
                <td>
                    <div class="p-2 flex-shrink-1">
                            <a asp-controller="License" asp-action="Details" asp-route-id="@licence.Id" class="btn btn-dark"><h5>Опции</h5></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}