html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
}

@media (min-width: 800px) {

    html, body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }
}

video {
    position: relative;
    display: block;
    width: 100%;
}
.carousel-item {
    position: relative;
}

.custom-caption {
    position: absolute;
    top: 25%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    transform: translate(-70, -70%); /* Center the text */
    color: white;
    text-align: left;
    padding: 0rem;
    border-radius: 0rem;
    z-index: 10; /* Ensure text is above the video */
}

.custom-caption h1 {
        font-size: 2.5rem; /* Larger heading text */
        font-weight: bold;
}

    .custom-caption p {
        font-size: 2.5rem; /* Larger heading text */
        font-weight: bold;
    }

/* Ensure the video is behind the text */
.carousel-item video {
    z-index: 1;
}
