html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

@media (min-width: 800px) {

    html, body {
        height: 100%;
        overflow-x: hidden;
        width: 100%;
    }
}

video {
    position: relative;
    display: block;
    width: 100%;
    height: 75%;
}

.carousel-item {
    position: relative;
}

.custom-caption {
    position: absolute;
    top: 25%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    transform: translate(-70, -70%); /* Center the text */
    color: white;
    text-align: left;
    padding: 0rem;
    border-radius: 0rem;
    z-index: 10; /* Ensure text is above the video */
}

.custom-caption3 {
    position: absolute;
    top: 33%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    transform: translate(-70, -70%); /* Center the text */
    color: white;
    text-align: left;
    padding: 0rem;
    border-radius: 0rem;
    z-index: 10; /* Ensure text is above the video */
}

.custom-caption1 {
    position: absolute;
    top: 1%; /* Adjust as needed */
    right: 15%; /* Adjust as needed */
    transform: translate(-70, -70%); /* Center the text */
    color: white;
    text-align: right;
    padding: 0rem;
    border-radius: 0rem;
    z-index: 10; /* Ensure text is above the video */
}

.custom-caption2 h5 {
    top: 2%;
}
.custom-caption2 {
    position: absolute;
    top: 1%; /* Adjust as needed */
    left: 15%; /* Adjust as needed */
    transform: translate(-70, -70%); /* Center the text */
    color: white;
    text-align: right;
    padding: 0rem;
    border-radius: 0rem;
    z-index: 10; /* Ensure text is above the video */
}

.custom-caption h1 {
    top: 1%; /* Adjust as needed */
    font-size: 2.6rem; /* Larger heading text */
    font-weight: bold;
}

.custom-caption p {
    font-size: 2.5rem; /* Larger heading text */
    font-weight: bold;
}


.custom-caption3 p {
    font-size: 1.1rem; /* Larger heading text */
}



/* Ensure the video is behind the text */
.carousel-item video {
    z-index: 1;
}

.active a {
    background-color: black !important;
}

.transparent-flex {
    background-color: transparent; /* Ensures the flex container is transparent */
}

.transparent-flex a {
        background-color: transparent !important; /* Ensures each link is also transparent */
        color: white; /* Keeps the text color white */
        border: none; /* Remove any borders if necessary */
}

a {
    text-decoration: none;
}

.vcenter-item {
    display: flex;
    align-items: center;
}