@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Настъпи неочаквана грешка по време на изпълнение.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявка:</strong> <code>@Model.RequestId</code>
    </p>
}
