@model DigAccess.Models.Licence.UserLicenceViewModel

@if (Model.Licences.Count == 0)
{
    <h4>Няма лицензи за потребителя!</h4>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата от</th>
            <th>Дата до</th>
            <th>Активен</th>
            <th>Опции</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var blindUser in Model.Licences)
        {
            <tr>
                <td>@blindUser.DateFrom</td>
                <td>@blindUser.DateTo</td>
                <td>@blindUser.IsActivated</td>
                <td>
                    <div class="p-2 flex-shrink-1">
                        <a asp-action="Details" asp-route-id="@blindUser.Id" class="btn btn-dark"><h5>Опции</h5></a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}