@using DigAccess.Models.Admin
@model OrganisationEditViewModel
@{
    ViewData["Title"] = "Информация";
}

<div class="d-flex justify-content-start p-2">
    <h2 class="p-2">Редактиране</h2>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Информация</h5>
        <p class="card-text">
            <form asp-action="Edit" method="post">
                <div>
                    <label for="Name">Име</label>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div>
                    <label for="Phone">Телефон</label>
                    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="d-none">
                    <div>
                        <label for="Id">Офис</label>
                        <span asp-validation-for="@Model.Id" class="text-danger"></span>
                        <input asp-for="Id" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Запазване</button>
            </form>
        </p>
    </div>
</div>