<br />
<div class="container-fluid">
    <center>
        <div class="card text-center" style="25rem;">
            <div class="card-header">
                Дигитална достъпност
            </div>
            <div class="card-body">
                <h4 class="card-title">Грешка 500</h4>
                <p class="card-text">Лоша заявка!</p>
                <br />
            </div>
        </div>
    </center>
</div>