@{
    ViewData["Title"] = "Настройка";
}

<div class="card text-center">
    <div class="card-header">
        Дигитална достъпност
    </div>
    <div class="card-body">
        <h5 class="card-title">Да започнем!</h5>
        <p class="card-text">Изберете организацията, която желаете да бъде Вашият администратор.</p>
        <a asp-action="OrganisationSelection" class="btn btn-dark">Напред</a>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
</div>