<div class="card text-center">
    <div class="card-header">
        Дигитална достъпност
    </div>
    <div class="card-body">
        <h5 class="card-title">Чакане за одобрение</h5>
        <p class="card-text">Моля, изчакайте служител на организацията да потвърди Вашият акаунт.</p>
        <a asp-action="OrganisationSelection" class="btn btn-dark">Напред</a>
    </div>
    <div class="card-footer text-body-secondary">
    </div>
</div>